language: go

go:
  - master # This uses automatically the latest version of go

install:
  - go get github.com/spf13/hugo # This provides the latest version of Hugo to Travis CI

script:
  - hugo # This commands builds your website on travis

after_success: |
  if [ "$TRAVIS_BRANCH" == "master" ]; then
    cd "$TRAVIS_BUILD_DIR"
    # This generates a `web` directory containing the website.
    cd public
    git init
    git checkout -b master
    git add .
    git -c user.name='travis' -c user.email='travis' commit -m init
    # Make sure to make the output quiet, or else the API token will leak!
    # This works because the API key can replace your password.
    git push -f -q https://Zomzog:$GITHUB_TOKEN@github.com/zomzog/zomzog.github.io.git master &2>/dev/null
  fi  